html {
    background: linear-gradient(180deg,rgba(255,255,255,.67) 0,rgba(255,255,255,0) 100%),radial-gradient(63.37% 115.51% at 40.63% 138.29%,#d7b7ff 0,rgba(215,183,255,0) 100%),radial-gradient(56.94% 103.8% at -12.33% 125.63%,#f2b6e6 0,rgba(242,182,230,0) 100%),radial-gradient(73.96% 134.81% at 107.81% -57.59%,#82a5ff 0,rgba(130,165,255,0) 100%),linear-gradient(119.96deg,#a33ab1 0,rgba(163,58,177,0) 76.62%),#6d4ad3;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #6d4ad3;
    background-color: #fff;
    display: inline-block;
    padding: 0.25rem;
}

.btn {
    padding: 1rem;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    border: 0;
    font-size: inherit;
    font-weight: 800;
}
